@media (min-width: 997px) {
    .row .docItemCol_VOVn {
        max-width: 100% !important;
    }
}
.docItemCol_VOVn{
    width: 100%;
}
*::selection{
    background-color: var(--ifm-color-primary);
    color: white!important;
}
.beDZfq *{
    color: var(--ifm-font-color-base)!important;
}
.drdvPg, .bvhSud{
    border-radius: 1rem;
}
.sc-iRVXky *, .fbQvpV >ul >li.react-tabs__tab--selected, .sc-hSyjfr, .sc-hSyjfr > *, .gMCIcp{
    color: #333!important;
}
.zvQzH, .iqHzp, .eqWzJe, .kKXAng{
    color: var(--ifm-invert-font-color)!important;
}
.property, .cpnVKx, .ezdXRP, .bbQame, .IVbnb{
    color: #fff!important;
}
.enkzRg{
    transition: all 0.3s ease;
}
.enkzRg:hover{
    border-radius: 1rem;
    text-decoration: underline;
    background-color: var(--ifm-color-primary);
    color: white!important;
    border: thin solid white;
}
.drdvPg{
    width: 400px;
}
@media print, screen and (min-width: 75rem) {
    .dFrZq {
        width: 100%!important;
        padding: 0px 120px!important;
    }
}
.dECWTf{
    flex-direction: column!important;
    display: flex;
}
.oECKJ{
    width: 100%!important;
    background-color: rgb(38, 50, 56)!important;
    padding: 1rem!important;
    margin: 1%!important;
}