@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* enforse fallable montserrat to all the text */
*{
    font-family: 'Montserrat', sans-serif!important;
}

*::selection{
    background-color: var(--ifm-color-primary);
    color: white!important;
}
/* api description - api response pairs */
.sc-dntaoT *{
    color: white!important;
}
/* total side and content panels */
.sc-iMPxVN *{
    color: var(--ifm-font-color-base)!important;
}
.sc-iRVXky *, .fbQvpV >ul >li.react-tabs__tab--selected, .sc-hSyjfr, .sc-hSyjfr > *, .sc-hPGoDJ{
    color: #333!important;
}
/* response buttons */
.sc-gohMHu *{
    color: #fff!important;
}
/* failure responses */
.sc-gohMHu{
    border: thin solid var(--ifm-failure-background-color)!important;
}
/* complete doc except the left navbar */
.docItemCol_VOVn{
    width: 100%;
}
.sc-dFqmTM, .sc-dntaoT{
    border-radius: 1rem;
}
/* the left search bar */
.sc-dFqmTM{
    width: 400px;
    box-shadow: 1px 1px 4px #333;
}
.property, .sc-txhaY, .sc-eWPXlR, .sc-erSfwj, .sc-txhaY, .sc-ixGGxD, .sc-ixGGxD *, .sc-fAUdSK p{
    color: #fff!important;
}
.sc-keTIit, .sc-etPtWW, .sc-fufdwm, .sc-UblHX{
    color: var(--ifm-invert-font-color)!important;
}
@media print, screen and (min-width: 75rem) {
    .sc-fAUdSK {
        width: 100%!important;
        padding: 0px 1rem!important;
        margin-bottom: 2rem;
    }
}
.sc-kLhKbu{
    flex-direction: column!important;
    display: flex;
}
.sc-ivxoEo{
    width: 100%!important;
    background-color: rgb(38, 50, 56)!important;
    padding: 1rem!important;
    border-radius: 1rem;
}
.sc-eEVuZf{
    display: none!important;
}
.sc-dntaoT{
    background-color: transparent;
    margin: 2%;
}
.sc-dntaoT:first-of-type{
    border-radius: 1rem;
    /* shimmer effect */
    background: linear-gradient(-45deg, #444 40%, #555 50%, #444 60%);
    background-position-x: 0%;
    transition: all 0.7s ease;
    background-size: 200% 100%;
    animation: shimmer 5s linear infinite;
}
/* the download button */
.sc-kEsJEW{
    transition: all 0.3s ease;
    border-radius: 1rem;
    border: thin solid #000!important;
    text-decoration: underline;
    color: black!important;
    background-color: #fff;
    font-weight: bold;
    margin: 1rem;
}
.sc-kEsJEW:hover{
    color: white!important;
    background-color: #000;
    border: thin solid black!important;
    border: thin solid #fff!important;
}
/* success responses */
div > div:first-of-type > .sc-gohMHu:first-of-type{
    opacity: 1!important;
    border: thin solid var(--ifm-success-background-color)!important;
}
/* success and failure response types  */
div > div > .sc-gohMHu *{
    color: var(--ifm-font-color)!important;
}
@media (min-width: 997px) {
    .row .docItemCol_VOVn {
        max-width: 100% !important;
    }
}
/* response type expander arrow */
.sc-cHqXqK > polygon{
    fill: var(--ifm-font-color)!important;
}

/* content type mini heading */
.sc-fufdwm{
    background-color: var(--ifm-color-primary);
    padding: 0 1%;
    border-radius: 1rem;
}

/* response codes font color */
.react-tabs__tab-list li{
    color: #fff!important;
}

/* bearer header expanded and compact */
.sc-bqvdXA > i{
    background-color: #fff;
    color: #333!important;
    padding: 0 1%;
    border-radius: 1rem;
    margin: 0 1%;
}

/* target the table cells */
td{
    padding: 1rem!important;
}

/* shimmer */
@keyframes shimmer {
    0% {
        background-position-x: 100%;
    }
    100%{
        background-position-x: 0%;
    }
 }


 .sathvik{
    z-index: 100!important;
    color: white;
 }