/* Selection styling */
::selection {
  background-color: var(--ifm-color-primary);
  color: white;
}

/* Layout containers */
.docItemCol_VOVn {
  width: 100%;
  max-width: 100% !important;
}

/* API components */
.sc-dntaoT {
  background-color: transparent;
  margin: 2%;
  border-radius: 1rem;
}

.sc-dntaoT * {
  color: white;
}

/* Search components */
.sc-dFqmTM {
  width: 300px;
  border: 1px solid var(--ifm-color-primary);
  transition: all 0.2s ease-in;
  padding: 0.5rem 0;
  background-color: transparent;
}

.sc-dFqmTM *,
.sc-enMaOJ {
  background-color: transparent;
  color: var(--ifm-font-color-base) !important;
}

/* Response styling */
.sc-gohMHu * {
  color: var(--ifm-font-color-base);
}

div > div:first-of-type > .sc-gohMHu:first-of-type {
  opacity: 1;
  border: 1px solid var(--ifm-success-background-color);
}

.sc-gohMHu {
  border: 1px solid var(--ifm-failure-background-color);
}

/* Table styles */
table,
td {
  border: none;
}

table tr {
  background-color: transparent;
}

.sc-ovuCP {
  border-left: 1px solid var(--ifm-color-primary);
}

td {
  padding: 10px 10px 10px 0;
  color: var(--ifm-font-color-base);
}

/* Endpoint styling */
.sc-khLCKb,
.sc-ixGGxD {
  font-size: 2.5rem;
  font-weight: 700;
}

div.sc-hSyjfr[class] span {
  color: #333;
}
div[role="button"] div.sc-hSyjfr[class]{
  color: var(--ifm-color-primary)!important;
}


/* HTTP method styles */
.sc-erSfwj[type='get'] {
  background-color: #2f8132;
  color: #fff;
}

.sc-erSfwj[type='post'] {
  background-color: #186faf;
  color: #fff;
}

/* Code block styles */
code span,
code span span,
code span span span {
  font-size: var(--ifm-code-font-size);
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace!important;
}

/* JSON response styling */
.redoc-json .token.string,
.redoc-json .token.number {
  background-color: transparent;
  color: rgb(160, 251, 170);
}

.redoc-json .property.token.string,
span.sc-txhaY[class],
.sc-eWPXlR[class],
.redoc-json .token.punctuation,
.collapser,
.ellipsis,
.collapsed,
.hoverable > * {
  color: #fff !important;
}

.token.punctuation{
  color: var(--ifm-font-color-base)!important;
}

li.react-tabs__tab--selected.tab-error[class],
li.react-tabs__tab--selected.tab-success[class] {
  color: #333 !important;
}
.react-tabs__tab.react-tabs__tab--selected {
  color: #333 !important;
}

.api-reference--btn{
  color: var(--ifm-color-primary)!important;
}

/* Media queries */
@media print, screen and (min-width: 75rem) {
  .sc-fAUdSK {
    width: 100%;
    padding: 0 1rem;
  }
}

@media (min-width: 997px) {
  .row .docItemCol_VOVn {
    max-width: 100%;
  }
}
